<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% assign nav_links = site.data.navigation.main %}
          {% if page.lang == "en" and site.data.navigation.main_en %}
            {% assign nav_links = site.data.navigation.main_en %}
          {% endif %}
          {% for link in nav_links %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      <div class="lang-switch">
        {% if page.lang == "en" %}
          <a href="{{ '/' | relative_url }}" target="_self">中文</a>
        {% else %}
          <a href="{{ '/en/' | relative_url }}" target="_self">English</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
